.tweet {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.tweet__tw-head {
}

.tw-head__text {
}

.tw-head__author-link {
  transition: color 0.3s ease;
}

.tw-head__author-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: orangered;
}

.tw-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}
