.header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.305);
  padding-inline: 2rem;
  padding-block: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2em;
}

.header__nav > a {
  transition: color 0.3s ease;
}

.header__nav > a:hover {
  cursor: pointer;
  color: orangered;
}
